body,div,ul,li,dl,dd,dt,h3,h4{
	padding:0;
	margin:0;
}
ul li{
	list-style: none;
}
input{
	border:none;
	outline: none;
	background: #eee;
}
select{
	border:none;
	outline: none;
	background: none;
}
a{
	text-decoration: none;
	color:#000;
	padding: 0 5px;
	&:hover{
		color:#f00;
		text-decoration: underline;
	}
}
body{
	font-size: 100%;
	font-family: "微软雅黑";
}
%fl{
	float:left;
}
%fr{
	float: right;
}
%clearfix{
	&:after{
		content: "";
		display: block;
		clear: both;
	}
	*zoom:1;
}
*{
	box-sizing:border-box;
}
.inner-center{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.bs-top{
	height: 60px;
	background: #333;
	padding:0 10px;
	@extend %clearfix;
}
.back-logo{
	@extend %fl;
}
.bs-tit{
	@extend %fr;
	font-size: 22px;
	color:#fff;
	line-height: 60px;
}
.func-tab{
	height: 30px;
	padding:0 10px;
	font-size: 12px;
	line-height: 30px;
	background: #eee;
	@extend %clearfix;
	.m-name{
		padding-right: 10px;
	}
	.path{
		@extend %fl;
		width: 300px;
		margin-left: -80px;
	}
	.operate{
		@extend %fr;
		a{
			padding:0 18px;
		}
		.home{
			background: url(../images/backstage/icon_b_home.png) no-repeat left center;
		}
		.advance{
			background: url(../images/backstage/icon_b_advance.png) no-repeat left center;
		}
		.back{
			background: url(../images/backstage/icon_b_back.png) no-repeat left center;
		}
		.refresh{
			background: url(../images/backstage/icon_b_refresh.png) no-repeat left center;
		}
		.out{
			background: url(../images/backstage/icon_b_out.png) no-repeat left center;
		}
	}
}
.aside-nav{
	@extend %fl;
	width: 200px;
}
.nav-tit{
	height: 30px;
	padding:0 10px;
	font-size: 18px;
	line-height: 30px;
	background: #ccc;
	border-right: 1px solid #999;
}
.nav-list{
	min-height: 600px;
	padding:10px 8px 200px 8px;
	background: #999;
	font-size: 14px;
	color:#fff;
	line-height: 1.8;
	.list-item{
		margin-top: 5px;
	}
	h3{
		font-size: 16px;
		cursor: pointer;
	}
	dl{
		display: none;
	}
	dd{
		padding-left: 30px;
	}
	span{
		display: inline-block;
		width: 15px;
		text-align: center;
	}
	a{
		color:#fff;
	}
}
.main-box{
	@extend %clearfix;
	border: 1px solid #aaa;
	border-top: none;
}
.main{
	@extend %fl;
	.nav-tit{
		width: 998px;
		border-right: none;
	}
}
.table-op-box{
	padding:15px;
	
}
.table-op-top{
	height: 30px;
	line-height: 30px;
	margin-bottom: 30px;
	.add{
		float: left;
		a{
			display: inline-block;
			width: 100px;
			height: 30px;
			border:1px solid #ddd;
			font-size: 16px;
			text-align: center;
			background-color: #f2f2f2;
		}
	}
}
.table-op{
	@extend %fr;
	input{
		width: 150px;
		height: 30px;
		padding: 10px;
	}
	.select-box{
		padding:5px 8px 7px;
		background: #eee;
		margin-right: 20px;
	}
}
table{
	font-size: 14px;
	border-collapse: collapse;
	caption{
		font-size: 20px;
		margin:20px 0;
	}
	td,th{
		border:1px solid #ccc;
	}
	th{
		height: 30px;
		background: #eee;
	}
	td{
		height: 35px;
		padding:0 5px;
		text-align: center;
	}
	.pd-list-che{
		margin-right: 8px;
	}
	label{
		vertical-align: middle;
	}
}
.pd-manage{
	width: 968px;
	tr td:last-child{
		text-align: center;
	}
}
.pd-list-op{
	padding:4px 16px;
	margin-right: 5px;
	cursor: pointer;
}

/*-------------------------------------------
login page
--------------------------------------------*/
.login-top{
	width: 100%;
	height: 85px;
	background: #1d7ad9;
	.logo{
		width: 235px;
		margin:0 auto;
		font-size:22px;
		line-height: 85px;
		color:#fff;
		a{
			float: left;
			height: 85px;
			padding-top:10px;
			margin-right: 20px;
		}
	}
	
}

.login-form{
	width: 460px;
	border:1px solid #ccc;
	margin: 20px auto 120px auto;
	font-size: 14px;
	padding-top:40px;
	padding-left: 80px;
	.user,.password,.vertify{
		width: 310px;
		height: 35px;
		border:1px solid #ccc;
		padding:0 5px;
	}
	.vertify{
		background: #fff;
	}
	.user{
		background: url(../images/backstage/icon_b_user.png) no-repeat 275px center;
	}
	.password{
		background: url(../images/backstage/icon_b_password.png) no-repeat 275px center;
	}
	.vertify-img{
		margin-bottom: 10px;
	}
	> div{
		margin-bottom: 15px;
	}
	
	.submit{
		width: 310px;
		height: 35px;
		margin-bottom: 30px;
		margin-top: 10px;
		font-size: 16px;
		line-height: 35px;
		color: #606060;
		text-align: center;
		background: #d0d0d0;
		cursor: pointer;
	}

	.login-tip{
		font-size: 12px;
		margin-bottom: 20px;
	}
	.more{
		display: inline-block;
		width: 40px;
		height: 12px;
		background: url(../images/backstage/pd-sort/icon_more.png) no-repeat 25px center;
	}
}
/*footer----------------------------------*/
footer{
	width: 100%;
	height: 222px;
	background:#d4d4d4;
	text-align: center;
	p{
		font:12px "宋体";
		line-height: 2;
	}
	.footer-nav{
		padding-top:55px;
	}
	.copyright{
		padding-bottom: 40px;
	}
	a{
		margin-left: 10px;
		&:hover{
			color:#ff8c00;
		}
	}
}

//添加管理员模块

.admin-add,.user-add{
	input{
		border:none;
		outline:none;
		background:#fff;
	}
	table{
		border-collapse:collapse;
		width:400px;
		margin:0 auto;

		border:1px solid #999;
		background:#ccc;

	}
	caption{
		font-size:18px;
		font-weight:bold;
		margin-bottom:20px;
	}
	
	td{
		height:35px;
		padding:10px 0;
	}

	.user,.password,.email{
		width:180px;
		margin-left:5px;
		padding:0 5px;
		height:22px;
	}
	input[type='text']{
		width:180px;
		margin-left:5px;
		padding:0 5px;
		height:22px;
	}

	.submit{
		width:60px;
		font-size:14px;
		cursor:pointer;
	}
}
.pro-add{
	.pro-table{
		width:800px;
		th{
			text-align: right;
			background: #ccc;
			border:1px solid #000;
		}
		td{
			border:1px solid #000;
			text-align: left;
		}
		tr:last-child td{
			text-align: center;
		}
		.select-cate{
			width: 100px;
			height: 20px;
			margin-left: 10px;
			background: #fff;
		}
		#selectFileBtn{
			display: inline-block;
			padding:2px 5px;
			margin:0 5px;
			border: 1px solid #999;
			background: #fff;
		}
	}
	.attachItem{
		padding:3px 5px;
	}
}
/*页码导航条--------------------------------*/
.page{
	width: 550px;
	margin:40px auto;
	font-size:12px;
	.page-form{
		display: inline-block;
	}
	.page-num,.page-btn{
		background: #fff;
		border:1px solid #999;
		cursor: pointer;
		padding:3px 6px;
	}
	.forbid{
		opacity: .3;
		&:hover{
			color:#333;
			text-decoration: none;
		}
	}
	a{
		display: inline-block;
		margin:0 4px;
		padding:3px 6px;
		border:1px solid #999;
	}
	
}



